{% extends "base.html" %}
{% block page_content %}
  <div id="main_page" data-role="page">
    <div data-role="header">
      <a href="/start" data-role="button" data-icon="home" data-inline="true" data-ajax="false">Home</a>
      <h1>{{ venue_data[0]["venue_name"] }}</h1>
    </div>
    <div data-role="content">
      <div id="map_canvas" style="width:100%;height:150px;"></div>
      <h2>Beer checkins</h2>
      <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Filter beers..." >
        {% for vdata in venue_data %}
          {% set t_crdate = datetime.datetime.strptime(vdata["created_at"],"%a, %d %b %Y %H:%M:%S +0000") %}
          {% set nice_date = t_crdate.strftime("%d %h %y") %}
          <li><a href="/beer/{{vdata["beer_id"]}}" data-ajax="false">
          <img class="ui-li-icon" style="height:20px;" src="{{vdata["beer_stamp"]}}" />
          <h3>{{ escape(vdata["beer_name"]) }}</h3><p>({{ escape(vdata["brewery_name"]) }})</p>
          {% if vdata["check_in_comment"] != "" %}
          <p style="font-style:italic;">{{ escape(vdata["check_in_comment"]) }}</p>
          {% end %}
          <p class="ui-li-aside">{{ escape(nice_date) }}</p>
          </a></li>
        {% end %}
      </ul>
    <p style="font-size:16px;"><a href="javascript:history.back();" "data-rel="back" data-ajax="false" data-role="button" data-icon="arrow-l">Back</a></p>
    </div>
{% end %}
