{% extends "base.html" %}
{% block page_content %}
  <div id="main_page" data-role="page">
    <div data-role="header">
      <h1>Your location</h1>
    </div>
    <div data-role="content">
      <div id="map_canvas" style="width:250px;height:150px;"></div>
      <h2>Nearby pubs</h2>
      <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Filter pubs..." >
        {% for venue in venues %}
          <li><a href="/pub/{{venue["id"]}}" data-ajax="false">{{ venue["name"] }}</a></li>
        {% end %}
      </ul>
    </div>
{% end %}
